    </div>
</div>
    <div class="page-wrapper">
                <div class="page-wrapper-inner">

                    <!-- Left Sidenav -->
                    <div class="left-sidenav">
                        
                        <ul class="metismenu left-sidenav-menu" id="side-nav">

                            <li class="menu-title">Anasayfa</li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-user"></i><span>Yöneticiler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false"> 
                                    <li><a href="/admins/admins/"><span>Yönetici Yönet</span></a></li>
                                    <li><a href="/admins/register/"><span>Yönetici Ekle</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-store"></i><span>İşletmeler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/operatings/pending_operatings/">Onay Bekleyen İşletmeler</a></li>
                                    <li><a href="/operatings/operatings/"><span>Tüm İşletmeler</span></a></li>
                                    <li><a href="/operatings/lastOperatings/"><span>Son Onaylanan İşletmeler</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-user-group"></i><span>Kullanıcılar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/users/users/"><span>Tüm Kullanıcılar</span></a></li>
                                    <li><a href="/users/disabled_users/"><span>Engelli Kullanıcılar</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-view-list"></i><span>İşlemler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/category/category/">İşlem Ekle</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-inbox"></i><span>Geri Bildirimler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/feedback/feedback/"><span>Geri Bildirimler</span></a></li>
                                </ul>
                            </li>





                        </ul>
                    </div>
                    <!-- end left-sidenav-->

                    <!-- Page Content-->