<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-wrong"></i>  Hata!!!</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">eKuaförüm</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Hata!!!</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
    <div class="page-content">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 p-0 align-self-center">
                                    <img src="/assets/images/error.svg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-7">
                                    <div class="error-content text-center">
                                        <h1 class="">404!</h1>
                                        <h4 class="text-primary">Beklenmeyen bir hata oluştu...</h3><br>
                                        <a class="btn btn-primary mb-5 waves-effect waves-light" href="/">Anasayfaya Geri Dön</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
<%- include('./src/footer'); %>