<%- include('./src/header'); %>
<%- include('./src/sidebar'); %>
                <div class="page-content">
                    <div class="container-fluid"> 
                    </div><!-- container -->
                </div>
<%- include('./src/footer'); %>